# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.pyc

# Venv or other temporary files
*.venv

# Zip archives
ARCHIVE.ZIP
MNIST_CSV.ZIP

# Ignore the data folder and all its contents
data/
